
<%=form_for @team do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
        <h2>
          <%= pluralize(@team.errors.count, "error") %>
          stopped the Team from being created.  Here's why:
        </h2>
          <% @team.errors.full_messages.each do |msg| %>
            <p> <%= msg %> </p>
          <%end%>
        </div>
        <%end%>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :owner %>
    <%= f.text_field :owner %>
  </p>

  <p>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label :wins %>
    <%= f.text_field :wins %>
  </p>

  <p>
    <%= f.label :losses %>
    <%= f.text_field :losses %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <%end%>
