
<% @teams.each do |team| %>
  <div class = "teams"
   <h1><%= link_to team.name, team_path(team) %> </h1>
  <p> <%= team.owner %> </p>
  <p> Wins: <%= team.wins %> </p>
  <p> Losses: <%= team.losses %> </p>
  <img src="<%=team.img_url%>">
</div>
<%end%>
