<div class = "team">
  <h1> <%= @team.name %> </h1>

  <p> <%= @team.owner %> </p>
  <p> Wins: <%= @team.wins %> </p>
  <p> Losses: <%= @team.losses %> </p>
  <img src="<%=@team.img_url%>">

  <p> <%= link_to 'Edit This Team', edit_team_path(@team) if @current_user %> | <%= link_to 'Delete This Team', team_path(@team), method: :delete if @current_user %></p>
</div>

<div class = "teamPlayers">
    <h3> Players  <%= link_to "+", new_team_player_path(@team) if @current_user %> </h3>
    <% @team.players.each do |player| %>
        <p> <%= link_to player.name, team_player_path(@team, player) if @current_user %> <%= link_to "(-)", team_player_path(@team, player), method: :delete, data: {confirm: "Are you sure you want to delete this player?"} %> </p>
        <p> <%= player.notes %> </p>
      <%end%>
</div>
