
  <%=form_for ([@team, @player]) do |f| %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :position, "Position" %>
      <%= f.select :position, ["QB", "RB", "WR", "TE", "K", "DST"] %>
    </p>

    <p>
      <%= f.label :p_team, "Player Team" %>
      <%= f.text_field :p_team %>
    </p>

    <p>
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </p>

    <%= f.submit %>

    <%end%>
