<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1> The Pigskinners! </h1>
    <%= link_to 'Back to Teams', teams_path %>
    <% flash.each do |type, message| %>
      <p class="flash <%= type %>"> <%=message%> </p>
      <%end%>
    <%= yield %>
  </body>
</html>
