<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootball</title>
    <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="background">
    <div class="header">
    <h1> The Pigskinners! <%= link_to '+', new_team_path %></h1>
    <h3> <%= link_to 'Team View', teams_path %> | <%= link_to "Player View", players_path %></h3>
      <div class="user-info">
  <% if current_user %>
    Welcome, <%= current_user.email %>
    <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
    <%= link_to 'User Page', edit_user_registration_path %>
  <% else %>
    <%= link_to 'Signup', new_user_registration_path %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>
  </div>

    <% flash.each do |type, message| %>
      <p class="<%= type %>"> <%=message%> </p>
      <%end%>

    <%= yield %>
  </div>
  </body>
</html>
