<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1> The Pigskinners! <%= link_to '+', new_team_path %></h1>
    <h3> <%= link_to 'Team View', teams_path %> | <%= link_to "Player View", players_path %> </h3>
    <% flash.each do |type, message| %>
      <p class="flash <%= type %>"> <%=message%> </p>
      <%end%>
    <%= yield %>
  </body>
</html>
